<!-- home.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Моя страница</title>
</head>
    <style>header {
  background: aquamarine;
  padding: 20px;
  color: black;
  display: flex;
  align-items: center;
}

header h1 {
  margin-left: 30%;
  text-align: center;
}
.skill {
  display: grid;
  grid-template-columns: 20% auto;
}

.skill -nav {
    background-color: skyblue;
    padding: 10px;
    color: black;
}

.skill-desc h2{
  text-align: center;
}

.skill-desc a{
    color: black;
}

.skill-desc p{
  border: 3px dotted ;
}

.desc-1 {
    width: 750px;
    display: grid;
  grid-template-columns: 600px 500px;
}

img {
    text-align: left;
    float: left;
}
table {
   border: 1px solid black;
    margin-top: 20px;
    width: 200px;
}
/* границы ячеек первого ряда таблицы */
th {
   border: 2px solid black;
}
/* границы ячеек тела таблицы */
td {
   border: 2px solid black;
    text-align: center;
}

footer {
  background-color: aquamarine;
  padding: 20px;
  color: black;
  text-align: center;
}</style>
<body>
  <header>
    <img src="../media/logo.jpg" width="100" height="100" alt="Логотип">
      <h1>EnginProgr</h1>
  </header>
  <main>
  <section class="skill">
      <nav class="skill-nav">
        <ul>
            <li><a href="../">Главная</a></li>
            <li><a href="../demand/">Востребованность</a></li>
            <li><a href="../geography/">География</a></li>
            <li><a href="../skills/">Навыки</a></li>
            <li><a href="../last_vac/">Последние вакансии</a></li>
        </ul>
      </nav>
      <section class="skill-desc">
          <h2>Топ 20 навыков по годам</h2>
          <div class="desc-1">
<table class ="table1" style="border: 1px solid rgb(0, 0, 0);">
      <thead>
        <tr>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2015</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2016</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2017</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2018</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2019</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2020</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2021</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2022</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2023</th>

        </tr>
      </thead>
        <tbody>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 2393</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 8398</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 12283</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 16593</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 16426</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Пользователь ПК: 27429</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа в команде: 56218</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа в команде: 64264</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа в команде: 30864</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 2069</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 6776</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 9681</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 12950</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Пользователь ПК: 14588</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Грамотная речь: 24337</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Грамотная речь: 52083</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Пользователь ПК: 43298</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Грамотная речь: 24619</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">PHP: 1975</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Ведение переговоров: 6469</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PHP: 9153</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PHP: 11982</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 13273</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа в команде: 23649</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Пользователь ПК: 44745</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Грамотная речь: 32611</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Пользователь ПК: 23085</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">jQuery: 1729</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PHP: 6360</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 8500</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 11939</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа в команде: 13244</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 20070</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 31004</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 25838</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 15006</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 1701</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Пользователь ПК: 5874</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 8147</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 11393</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 12866</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 19566</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 26828</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 22644</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 14741</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">MySQL: 1693</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 5708</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MySQL: 7689</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Ведение переговоров: 11288</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Ведение переговоров: 12424</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Активные продажи: 18108</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Английский язык: 25820</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Техническое обслуживание: 21181</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Adobe Photoshop: 14720</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML5: 1607</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 5548</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Ведение переговоров: 7492</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MySQL: 10104</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Грамотная речь: 12047</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 15944</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 25578</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Английский язык: 20426</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Деловое общение: 14629</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Ведение переговоров: 1571</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">jQuery: 5492</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">jQuery: 6754</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа в команде: 9802</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PHP: 11242</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 15258</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Активные продажи: 24175</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 19802</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Linux: 13182</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 1553</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа в команде: 5396</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML5: 6100</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Пользователь ПК: 9322</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 11074</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Ведение переговоров: 13647</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Деловое общение: 23045</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Linux: 19782</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">1С программирование: 12353</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS3: 1321</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MySQL: 5238</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа в команде: 5944</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Активные продажи: 8300</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Активные продажи: 9767</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 13478</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Ведение переговоров: 22569</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Adobe Photoshop: 19361</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа с большим объемом информации: 12098</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Поиск и привлечение клиентов: 1262</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Грамотная речь: 4687</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Пользователь ПК: 5723</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Управление проектами: 8013</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MySQL: 9625</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Linux: 13114</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Linux: 20003</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа в условиях многозадачности: 18081</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Техническая поддержка: 11863</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Активные продажи: 1229</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML5: 4672</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Активные продажи: 5435</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Грамотная речь: 7918</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 9545</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Английский язык: 13065</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Грамотность: 19580</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Грамотность: 16295</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Настройка ПК: 11235</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Пользователь ПК: 1211</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Навыки продаж: 4383</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Управление проектами: 5225</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 7701</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Управление проектами: 8805</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PHP: 12817</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Телефонные переговоры: 19559</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">1С программирование: 15814</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 11076</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа в команде: 1164</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Поиск и привлечение клиентов: 4296</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 5159</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Телефонные переговоры: 7689</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Телефонные переговоры: 8374</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Деловое общение: 12532</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 19358</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Управление проектами: 15711</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Управление проектами: 10411</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Ajax: 1077</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Активные продажи: 4001</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Грамотная речь: 5040</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">jQuery: 7642</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">B2B Продажи: 8201</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MySQL: 12472</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Adobe Photoshop: 18494</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Настройка ПК: 15700</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Аналитическое мышление: 10300</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 1074</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Управление проектами: 3906</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 4936</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML5: 7600</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Деловая переписка: 8048</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Телефонные переговоры: 11639</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Управление проектами: 18177</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Работа с большим объемом информации: 15395</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Клиентоориентированность: 10127</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Грамотная речь: 1065</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Деловая переписка: 3772</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">B2B Продажи: 4902</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">B2B Продажи: 7459</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Деловое общение: 7916</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Клиентоориентированность: 10518</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Деловая переписка: 17195</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PHP: 14583</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">1С Предприятие 8: 10090</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Управление проектами: 1062</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS3: 3750</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Телефонные переговоры: 4842</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Деловая переписка: 7389</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Linux: 7888</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Управление проектами: 10256</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PHP: 17184</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">1С Предприятие 8: 14420</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PHP: 9817</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Деловая переписка: 1027</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 3747</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Linux: 4515</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Поиск и привлечение клиентов: 6479</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Английский язык: 7287</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">B2B Продажи: 10244</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 16773</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Умение работать в команде: 13895</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Настройка сетевых подключений: 9724</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 1027</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Телефонные переговоры: 3585</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Поиск и привлечение клиентов: 4505</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Linux: 6404</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Навыки продаж: 6688</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Навыки продаж: 9942</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MySQL: 16511</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Организаторские навыки: 13403</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Настройка ПО: 9127</td>

                </tr>

        </tbody>
    </table><div></div>
            <img src="../media/Топ_2015.png">
              <img src="../media/Топ_2016.png">
              <img src="../media/Топ_2017.png">
              <img src="../media/Топ_2018.png">
              <img src="../media/Топ_2019.png">
              <img src="../media/Топ_2020.png">
              <img src="../media/Топ_2021.png">
              <img src="../media/Топ_2022.png">
              <img src="../media/Топ_2023.png">
          </div>
          <h2>Топ 20 навыков инженер-программиста по годам </h2>
          <div class="desc-1">
               <div class="table_">
    <table style="border: 1px solid rgb(0, 0, 0); margin-bottom: 20px">
      <thead>
        <tr>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2015</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2016</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2017</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2018</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2019</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2020</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2021</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2022</th>

                <th style="border: 1px solid rgb(0, 0, 0); background-color: lightgray">2023</th>

        </tr>
      </thead>
        <tbody>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">C#: 193</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">C#: 659</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">C#: 997</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">C#: 1650</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">C#: 2016</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">C#: 2349</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">C#: 3397</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">C#: 2461</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">C#: 1357</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">ASP.NET: 98</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Framework: 362</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Framework: 615</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Framework: 1023</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Framework: 1139</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Framework: 1305</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Framework: 1768</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Framework: 1231</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Framework: 655</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Framework: 93</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ASP.NET: 340</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ASP.NET: 516</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ASP.NET: 794</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ASP.NET: 926</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ASP.NET: 849</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ASP.NET: 1285</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 939</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 523</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">MVC: 73</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 227</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 333</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 592</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 675</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 775</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 1140</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ASP.NET: 877</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ASP.NET: 497</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL: 62</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL: 198</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 291</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 501</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 648</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 739</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 1040</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 764</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 492</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 54</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 184</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL: 281</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL: 484</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 627</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 610</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 838</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 665</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PostgreSQL: 377</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 49</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">SQL: 170</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 259</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 442</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL: 611</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL: 589</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 786</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL: 591</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 373</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 48</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL Server: 162</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 253</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Entity Framework: 388</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 446</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 558</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL: 784</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 538</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL: 346</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">jQuery: 43</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MVC: 161</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL Server: 239</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 386</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MVC: 392</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Entity Framework: 458</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Entity Framework: 616</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Entity Framework: 454</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Entity Framework: 289</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS Visual Studio: 40</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Git: 133</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS Visual Studio: 228</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 385</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WPF: 374</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL Server: 396</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PostgreSQL: 610</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Core: 407</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">JavaScript: 268</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL Server: 38</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS Visual Studio: 126</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MVC: 223</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MVC: 380</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS Visual Studio: 348</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WPF: 367</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL Server: 574</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PostgreSQL: 393</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">С#: 231</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 35</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">jQuery: 118</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Entity Framework: 183</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL Server: 331</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Entity Framework: 334</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS Visual Studio: 356</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WPF: 506</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WPF: 342</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Core: 225</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">ООП: 32</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WPF: 114</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">jQuery: 181</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WPF: 324</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL Server: 324</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 322</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS Visual Studio: 463</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS SQL Server: 298</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WPF: 225</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">LINQ: 32</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 112</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WPF: 174</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS Visual Studio: 321</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 318</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">PostgreSQL: 322</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MVC: 374</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS Visual Studio: 292</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MS Visual Studio: 181</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML5: 22</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Entity Framework: 108</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 164</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 320</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 272</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MVC: 280</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 346</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 287</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 178</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 21</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WCF: 94</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 138</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">jQuery: 235</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WCF: 231</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Visual Studio C#: 259</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">HTML: 340</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">С#: 284</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MVC: 161</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">C++: 19</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 92</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Unity: 133</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WCF: 221</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">jQuery: 211</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Windows Forms: 236</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Unity: 334</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Английский язык: 272</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Visual Studio C#: 158</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">WPF: 18</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">С#: 83</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">WCF: 127</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">LINQ: 182</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">LINQ: 200</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 227</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">С#: 308</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">MVC: 259</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 151</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Transact-SQL: 18</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">C++: 83</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">LINQ: 117</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">C++: 175</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Unity: 195</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Unity: 227</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Английский язык: 288</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">CSS: 238</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Docker: 145</td>

                </tr>

                <tr>

                    <td style="border: 1px solid rgb(0, 0, 0);">Ajax: 17</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">LINQ: 82</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">С#: 111</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">С#: 172</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">C++: 192</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">jQuery: 225</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">.NET Core: 278</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">Visual Studio C#: 234</td>

                    <td style="border: 1px solid rgb(0, 0, 0);">RabbitMQ: 137</td>

                </tr>

        </tbody>
    </table>
    </div>
              <div></div>
            <img src="../media/Топ_2015_прог.png">
              <img src="../media/Топ_2016_прог.png">
              <img src="../media/Топ_2017_прог.png">
              <img src="../media/Топ_2018_прог.png">
              <img src="../media/Топ_2019_прог.png">
              <img src="../media/Топ_2020_прог.png">
              <img src="../media/Топ_2021_прог.png">
              <img src="../media/Топ_2022_прог.png">
              <img src="../media/Топ_2023_прог.png">
          </div>
      </section>
    </section>
  </main>
  <footer>
    <p>Карасев Михаил Евгеньевич АТ-04</p>
  </footer>
</body>
</html>