
header {
  background: aquamarine;
  padding: 20px;
  color: black;
  display: flex;
  align-items: center;
}

header h1 {
  margin-left: 30%;
  text-align: center;
}
.desc {
  display: grid;
  grid-template-columns: 15% auto;
}

.desc-nav {
  background-color: #eee;
  padding: 10px;
}

.desc-description h2{
  text-align: center;
}

.desc-description p{
  border: 3px dotted seagreen;
}

.desc-description-1 {
  display: grid;
  grid-template-columns: auto 314px;
}

.desc-description-2 {
  display: grid;
  grid-template-columns: auto 314px;
}

footer {
  background-color: aquamarine;
  padding: 20px;
  color: black;
  text-align: center;
}
